* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: whitesmoke;
    margin: 1em;
}

body > * {
    margin: 0.25em;
}

.profile {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.profile .icon {
    width: 150px;
    height: 150px;
    background: url("images/icon.png") no-repeat center;
    background-size: 155px auto;
    border-radius: 22.37%;
    margin: 0 1em 0 0;
}

@media only screen and (max-width: 48em) {
    .profile {
        flex-direction: column;
    }

    .profile .icon {
        margin: 0 0 1em 0;
    }

    .profile .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .profile .img {
        margin-right: 0;
    }
}

h1 {
    font-size: 36px;
    font-weight: normal;
}

h3, h4 {
    font-weight: normal;
}

.download {
    text-align: center;
    margin-bottom: 0;
}

.download img {
    margin-bottom: 0.25em;
}

.download > *:not(:last-child) {
    margin-right: 1em;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.screenshots div {
    display: flex;
    flex-direction: column;
    margin: 1em;
    flex: 1;
    align-items: center;
    text-align: center;
}

.screenshots img {
    width: calc(1284px / 5);
    height: calc(2778px / 5);
    margin-bottom: 1em;
}

a {
    color: blue;
    text-decoration: none;
}

.bottom-links > :not(:last-child) {
    margin-right: 1em;
}

@media (prefers-color-scheme: dark) {
    body {
        background: #0a0a0a;
    }

    h1, h2, h3, h4, p {
        color: white;
    }

    a {
        color: lightblue;
    }
}
